.section1{
	background-image: url(../images/Banner_mage.png);
}
.section1 .logo{
	width: 239px;
	height: 239px;
	vertical-align: center;
}
.section1 .logo img{
	width: 100%;
    margin: 70px 0px;
}
.section1 .first-h2{
 color: #FFFFFF;
  font-family: 'Titillium Web', sans-serif;
  font-size: 31px;
  letter-spacing: 1.28px;
  line-height: 40px;
  width: 622px;
  text-align: left;
}
.section1 .second-h2{
	color: #FFFFFF;
  font-family: 'Titillium Web', sans-serif;
  font-size: 25px;
  letter-spacing: 3.59px;
  line-height: 34px;
  width: 599px;
  text-align: left;
  opacity: 0.4;
}
.section1 .first-btn{
	border: 1px solid #DD5A6A;	
  background-color: #DD5A6A;
  border-radius: 3.2px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 14.4px;
  line-height: 17px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}
.appointment-form{
 background-color: #FFFFFF;
  box-shadow: -4px 2px 13px 0 rgba(85, 95, 126, 0.18);
  margin: 20px 0px;
  padding: 20px;
}
.appointment-form p{
  color: #213559;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20.08px;
  line-height: 24px;
  width: 127px;
  text-align: left;
  font-weight: 700;
}
.appointment-form input, .appointment-form textarea{
	border: 0.87px solid #D0D0D0 !important;
	margin: 15px 0px;
	border-radius: 0px;
}
.appointment-form input.form-control::placeholder, .appointment-form textarea.form-control::placeholder{
	color: #213559;
	font-size: 12.22px;
}
.capcha{
	padding: 20px 15px;
  background-color: #FFFFFF;
  border: 0.87px solid #D0D0D0;
}
.capcha label{
	color: #213559;
  font-size: 12.22px;

}
.capcha img{
	padding-right: 20px;
	float: right;
}
.form-submit-btn{
	border: 1px solid #DD5A6A;
	background-color: #DD5A6A;
	color:#fff;
	font-size: 14.84px;
	padding: 6px 26px;
	margin-top: 20px;
	cursor: pointer;
}
.section2{
	padding: 80px 0px;
}
.gradient{
	background: linear-gradient(to right, #2EC4B8 0%, #6078EA 100%);
    border-radius: 4px;
    padding: 20px;
}
.gradient h2{
	color: #FFFFFF;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  line-height: 26px;
}
.section2 .section2-image img{
	width: 100%;
}
.section2 .section2-first-h3, .section2 .section2-second-h3,
.section2 .section2-third-h3{
	color: #000000;
  font-family: 'Titillium Web', sans-serif;
  font-size: 17px;
  text-align: left;
  padding: 60px 20px 20px 0px;
}
.section2 .section2-second-h3{
	padding: 30px 20px 20px 0px;
	    line-height: 24px;
}
.section2 .section2-third-h3{
	padding: 30px 20px 20px 0px;
	    line-height: 24px;
}
.section3{
	padding: 40px 0px;
}
.section3 h2, .section4 h2, .section5 h2, .section7 h2{
  color: #22B78E;
 font-family: 'Titillium Web', sans-serif;
  font-size: 31px;
  letter-spacing: 1.28px;
  font-weight: 700;
  margin-bottom: 40px;
}
.section3 .custom-card{
	background-color: #F9F9FF;
	border-radius: 5px;
	border: 1px solid #F9F9FF; 
	padding: 20px 50px;
}
.card1{
	text-align: center;
}
.section3 .custom-card .card1 h3{
	color: #22B78E;
  font-family: 'Titillium Web', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.99px;
  padding-bottom: 20px;
  margin: 0px;
}
.section3 .custom-card .card1 img{
    width: 50%;
    margin: 0 auto;	
}
.section3 .custom-card .card1 h4{
	color:  #1D5AA6;
  font-family: 'Titillium Web', sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.99px;
      padding: 20px 0px;
  margin: 0px;
}
.section3 .custom-card .card1 p.custom-card-p1{
	color: #1D5AA6;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  letter-spacing: 1.2px;
  line-height: 20px;
  text-align: center;
}
.section3 .custom-card .card1 hr{
    width: 10%;
    background: #22B78E;
    margin: 10px auto 20px;
    height: 1px;
}
.custom-card-p2{
	color: #000000;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}
.section3 .custom-card .card1 .card-btn{
	font-family: 'Titillium Web', sans-serif;
	background: linear-gradient(to right, #17EAD9 0%, #6078EA 100%);
    border-radius: 4px;
    border: 0px solid #fff;
    padding: 10px 20px;
    color: #fff;
        width: 32%;
    margin: 30px auto;
    cursor: pointer;
}
.section3 .custom-card .divider{
	background-color: #ECECFF;
	width: 60%;
    margin: 10px auto 45px;
    height: 1px;
}

.section4 ul{
	list-style: none;
	list-style-image: url('../images/hospital-plus.png');
}
.section4 ul li{
	font-family: 'Titillium Web', sans-serif;
    color: #000;
    font-size: 14px;
    padding: 0px 14px 25px;
}
.mycard{
	background-color: #FFFFFF;
  border: 1px solid #E5EAFF;
  border-radius: 4px;
  box-shadow: 3px 5px 29px 0 rgba(187, 165, 228, 0.1);
  padding: 20px;
  height: 160px;
}
.mycard p{
	color: #000000;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  padding-top: 20px;
}

.accordion-ul{
	list-style: none;
	list-style-image: url('../images/double-tick-indicator.png');
}
.accordion-ul li{
	color: #000000;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
}
#headingOne h2 button,#headingTwo h2 button,
#headingThree h2 button,#headingFour h2 button,#headingFive h2 button,
#headingSix h2 button,#headingSeven h2 button{
	color: #1D5AA6;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  letter-spacing: 1.6px;
  font-weight: 700;
}
#accordionExample .card{
	border: 0px solid #fff;
}
#accordionExample .card .card-header{
	background-color: #fff;
}
#headingOne h2 img,#headingTwo h2 img,
#headingThree h2 img,#headingFour h2 img,#headingFive h2 img,
#headingSix h2 img,#headingSeven h2 img{
	float: right;
}
.section8 .booking-btn{
	text-align: center;
}
.section8 .booking-btn button{
	background-color: #004498;
  	border-radius: 3.81px;
  	padding: 10px 20px;
  	border: 1px solid #004498;
  	cursor: pointer;
  	color: #fff; 
}
.section9{
	background-color: #272727;
}
.social-icons{
	text-align: center;
}
.social-icons img{
	margin-right: 10px;
}
.social-hr{
  border: 1px solid rgba(255, 255, 255, 0.21);
  opacity: 0.3701869419642857;
  width: 90%;
  margin: 30px auto;
}
.section9 p{
	text-align: center;
	 color: #FFFFFF;
  font-family:'Titillium Web', sans-serif;
  font-size: 14px;
  letter-spacing: 1.12px
}
.scoll-up {
    position: fixed;
    bottom: 114px;
    right: 90px;
    cursor: pointer;
    display: none;
}
.testi-title, .testi-arrows{
	display: inline-block;
}
.testi-arrows{
	float: right;
}
.testi-arrows img{
	margin-right: 10px;
	cursor: pointer;
}
.section7 .col-md-12 p{
  color: #000000;
  font-family:'Titillium Web', sans-serif;
  font-size: 15px;
  line-height: 21px;
  width: 64%;
  letter-spacing: 1px;
  margin-bottom: 0px;
}
.mytesti-card{
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 9px 8px 27px 0 rgba(0, 0, 0, 0.04);
  padding: 40px;
}
.testi-header img{
	margin: -30px 15px 0px;
}
.testi-header img, .testi-header-content{
	display: inline-block;
}
.testi-header-content h2{
	 color: #000000;
  font-family: 'Titillium Web', sans-serif;
  font-size: 22px;
  margin: 10px 0px 0px;
}
.testi-header-content p{
	color: #000000;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
}
.testi-footer p{
color: #000000;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  font-style: italic;
}
.testi-header h1{
  color: #000000;
  font-family: .SFNSDisplay;
  font-size: 213px;
  line-height: 256px;
  opacity: 0.046107700892857144;
      display: inline-block;
    float: right;
    margin-top: -58px;
    height: 100px;
}
.testi2-row{
	display: none;
}